::-webkit-scrollbar {
	display: none;
}
ul {
	list-style: none;
	font-size: small;
	position: relative;
}

span,
h6,
li {
	cursor: pointer;
}

label {
	cursor: pointer;
}

.test {
	border: 1px solid red;
}

/* #search-child-id {
	padding: 10px 20px;
	border-radius: 0.6rem;
	border-style: none;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	outline: none;
} */

ul .search-refugees {
	padding: 10px 20px;
	border-radius: 0.6rem;
	border-style: none;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	outline: none;
	position: absolute;
	right: 0;
}

.data-table {
	max-height: 460px;
	overflow-y: scroll;
}

.card-input {
	height: 477px;
	overflow-y: scroll;
}

.card-table {
	height: 350px;
	overflow-y: scroll;
}

.btn-table {
	padding: 1px 6px;
}

.table-font {
	font-size: small;
}

.qrcode-container {
	position: relative;
}

.qrcode-container .qrcode {
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	font-size: 13px;
}
